:root {
  --cyan: hsl(178, 100%, 50%);
  --soft-blue: hsl(215, 51%, 70%);
}

body {
  background-color: hsl(217, 54%, 11%);
  font-family: "Outfit", sans-serif;
}
main {
  max-width: 300px;
  border-radius: 15px;
  background-color: hsl(216, 50%, 16%);
  box-shadow: rgb(0 0 0 / 20%) 0px 0px 45px 45px;
  display: block;
  margin: 0 auto;
  margin-top: 150px;
  margin-bottom: 150px;
  padding: 25px;
}
h2 a {
  color: white;
  font-weight: 600;
  padding-left: 0px;
}
p {
  font-size: 18px;
  color: var(--soft-blue);
  font-weight: 300;
  line-height: 2em;
  padding-left: 0px;
  padding-right: 0px;
}
hr {
  border-color: hsl(215, 32%, 27%);
  border-style: solid;
  border-width: 0.25px;
}
footer {
  padding-top: 20px;
}
.img-container {
  position: relative;
  width: 100%;
  max-width: 300px;
  display: block;
  margin: 0 auto;
}

.nft-image {
  max-width: 100%;
  margin-top: 10px;
  border-radius: 10px;
  height: auto;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: all 0.3s ease;
  background: hsla(178, 100%, 50%, 50%);
}
.img-container:hover .overlay {
  opacity: 1;
}
.icon {
  color: white;
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.hover-icon:hover {
  color: #eee;
}
.box {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  padding: 15px 3px 20px 3px;
}
.eth {
  color: var(--cyan);
  font-weight: 400;
}
.eth img {
  position: relative;
  top: 3px;
}
.time-left {
  color: var(--soft-blue);
  font-weight: 300;
}
.time-left img {
  position: relative;
  top: 3px;
}

.credit img {
  max-width: 30px;
  border-radius: 50px;
  border: 2px solid white;
  position: relative;
  top: 10px;
  margin-right: 15px;
}
.credit {
  color: var(--soft-blue);
  font-weight: 300;
  margin-bottom: 30px;
  font-size: 18px;
  padding-left: 3px;
}
.credit a {
  color: white;
  text-decoration: none;
  font-weight: 300;
}
a.link {
  text-decoration: none;
  transition: all 250ms ease-in-out;
}
a.link:hover {
  color: var(--cyan);
  text-decoration: none;
}
